.main-card {
  box-shadow: 3px 9px 61px;
}

.dp-section {
  background-color: #fff;
  background-image: url(../../../assets/img/wedDesktopDp.png);
  background-repeat: no-repeat;
  background-size: cover;
  // background-position: center center;
  object-fit: cover;
}

.dp-body {
  background-color: #3f51b5;
}

.detail-section {
  background-color: #fff;
}

img {
  max-width: 100%;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  height: auto;
  position: relative;
  background-size: cover;
  box-shadow: 1px 3px 10px;
}

@media screen and (max-width: 599px) {
  .main-card {
    box-shadow: none;
  }

  .dp-section {
    background-image: url(../../../assets/img/wedMobileDp.png);
  }
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-align: center;
}

#invitation,
#event-details,
#rsvp,
#buy-me {
  .background {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background: rgb(253, 244, 245);
    // background: linear-gradient(0deg, rgba(253,244,245,1) 0%, rgba(255,255,255,1) 0%, rgba(242,235,234,1) 100%);
  }

  .details {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .special-font {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0px;
  }
  .main-font {
    font-family: 'Sacramento', cursive;
    text-align: center;
    margin: 10px;
    font-size: 22px;
  }
  .directionBtn {
    background-color: #FDF4F5;
    border: solid 2px #F0BBA2;
    color: #F0BBA2;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
    border-radius: 10px
;
  }
  
  .directionBtn:hover {
    background-color: #F0BBA2;
    color: white;
  }
  iframe {
    height: 100vh;
    width: 100%;
  }

  .buy-me-btn-container{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around; 
    padding: 0px 15px;
  }

  .buyBtn {
    background-color: #FDF4F5;
    border: solid 2px #F0BBA2;
    color: #F0BBA2;
    padding: 10px 15px;
    text-align: center;
    font-size: 12px;
    margin: 4px 2px;
    transition: 0.3s;
    border-radius: 10px
;
  }
  
  .buyBtn:hover {
    background-color: #F0BBA2;
    color: white;
  }

  .buy-contianer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20vh
;
  }
}
