<div class="main-card" fxFlexFill fxLayout="row" fxLayout.xs="column">
            <div class="dp-section" fxFlex= 35%>
            </div>
            <div class="detail-section" fxFlex=65% fxLayout="column" gdAlignColumns="space-between stretch">
                <div fxFlex=auto class="d-body" style="overflow-y: scroll;">
                    <mat-tab-group mat-stretch-tabs [selectedIndex]="3" fxLayout="column" gdAlignColumns="space-between stretch">
                        <mat-tab fxFlex=100% label="Profile"> <app-section-home></app-section-home> </mat-tab>
                        <mat-tab fxFlex=100% label="Experience"> Content 3 </mat-tab>
                        <mat-tab fxFlex=100% label="Reach"> <app-section-reach></app-section-reach> </mat-tab>
                      </mat-tab-group>
                </div>
                <div fxFlex=5%> <app-section-footer></app-section-footer> </div>
            </div>
</div>