<div fxFlexFill class="home-container" fxLayout="column" fxLayoutGap="5px" gdAlignColumns="start stretch">
    <div class="title-container" fxLayout="row">
        <div fxFlex=37% fxFlex.lt-lg=65% fxFlex.lt-sm=80% >
            <mark class="main-title">Full Stack Developer</mark>
        </div>
        <div fxFlex="auto"></div>
    </div>


    <div class="name-container">
        <h1 style="margin-left: -4px;">REZZA DANIAL</h1>
    </div>

    <div class="intro-container">
        <p class="intro-text">
            Hi there!!. How to say yaa.. First, I'm an IT enthusiast. Been in this industry since 2018 (professionally). Was juggling between various IT domain. Web Development, Design (UI/UX and Digital), Business Analyst, IT Operations and Cybersecurity.
            Currently I'm <em>Jack of all trades, master of none</em>.. haha 😆
        </p>
    </div>

    
    <div class="bio-container">
        <mark class="bio-title">Bio</mark>
        <div class="bio-group">
            <div class="bio-item" fxLayout="row" fxLayout.xs="column">
                <div fxFlex fxLayout="column" fxLayout.xs="column" gdAlignColumns="start stretch">
                    <li style="display: inline-block;" fxLayout="row">
                        <img src="../../../assets/svg/cake.svg" width="25px" height="25px" class="icn">
                        <h3> 25 Years Old</h3>
                    </li>
                </div>
                <div fxFlex fxLayout="column" fxLayout.xs="column">
                    <li style="display: inline-block;" fxLayout="row">
                        <img src="../../../assets/svg/calendar.svg" width="23px" height="23px" class="icn">
                        <h3> Born in 14 May 1995</h3>
                    </li>
                </div>
            </div>
            <div class="bio-item" fxLayout="row" fxLayout.xs="column">
                <div fxFlex fxLayout="column" fxLayout.xs="column" gdAlignColumns="start stretch">
                    <li style="display: inline-block;" fxLayout="row">
                        <img src="../../../assets/svg/home-run.svg" width="23px" height="23px" class="icn">
                        <h3> Lives in Kuala Lumpur</h3>
                    </li>
                </div>
                <div fxFlex fxLayout="column" fxLayout.xs="column">
                    <li style="display: inline-block;" fxLayout="row">
                        <img src="../../../assets/svg/pin.svg" width="23px" height="23px" class="icn">
                        <h3> From Penang</h3>
                    </li>
                </div>
            </div>
            <div class="bio-item" fxLayout="row" fxLayout.xs="column">
                <div fxFlex fxLayout="column" fxLayout.xs="column" gdAlignColumns="start stretch">
                    <li style="display: inline-block;" fxLayout="row">
                        <img src="../../../assets/svg/university.svg" width="23px" height="23px" class="icn">
                        <h3> Studied at UiTM Shah Alam</h3>
                    </li>
                </div>
                <div fxFlex fxLayout="column">
                    <li style="display: inline-block;" fxLayout="row">
                        <img src="../../../assets/svg/heart.svg" width="23px" height="23px" class="icn">
                        <h3> Single</h3>
                    </li>
                </div>
            </div> 
        </div>
    </div>
