<div fxFlexFill class="home-container" fxLayout="column" fxLayout.xs="column" gdAlignRows="space-between start">
    <div class="title-container" fxLayout="row">
        <div>
            <h1 class="main-title">Web Developer</h1>
        </div>
        <div fxFlex="auto"></div>
    </div>


    <div class="name-container">
        <h1 class="name-text">
            Rezza Danial
        </h1>
    </div>

    <div class="intro-container">
        <p class="intro-text">
            The point of using Lorem Ipsum is that it has a 
more-or-less normal distribution of letters, as opposed 
to using 'Content here, content here', making it look 
like readable English. The point of using Lorem Ipsum is that it has a 
more-or-less normal distribution of letters, as opposed 
to using 'Content here, content here', making it look 
like readable English. 
        </p>
    </div>

    <div class="link-container" fxLayout="row">
        <p class="link-text">
            Read more
        </p>
        <span class="material-icons">
            play_arrow
        </span>
    </div>
</div>
