.home-container{
    padding: 50px;
    height: 100%;
}

.main-title{
    background-color: #3F51B5;
    padding: 1% 2%;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    font-size: 2vw;
}

.bio-container{
    margin-top: 15px;
}

.bio-title{
    background-color: #3F51B5;
    padding: 1% 2%;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    font-size: 12pt;
}

.bio-item{
    margin-top: 15px;
    margin-bottom: 10px;
}

.bio-group{
    margin-top: 25px
}

mark {
    background-color: #3F51B5;
}

h1{
    display: block;
    font-size: 5vw;
    margin-top: 0.40em;
    margin-bottom: 0.40em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.icn {
    margin-right: 10px;
}


.name-text{
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 900;
}

.intro-text{
    color: #999999;
    font-weight: 500;
    font-size: 1vw;
    word-spacing: 5px;
    line-height: 1.5;
}

.link-text{
    color: #000;
    font-weight: 700;
    font-size: 1vw;
    word-spacing: 5px;
}

.example-viewport {
    height: 200px;
    width: 200px;
    border: 1px solid black;
  }

// @media(max-width: 1366px){
//     .intro-text {
//         font-size:10vw
//     }
//     .name-text{
//         font-size:vw
//     }
// }

@media screen and (max-width: 599px){
    h1{
        font-size: 9vw;
        margin-top: 0.40em;
        margin-bottom: 0.40em;
    }

    .main-title{
        font-size: 6vw;
    }

    .intro-text,
    .link-text{
        font-size: 4vw;
    }

    .bio-item{
        margin-bottom: 35px;
    }
    .bio-group{
        margin-top: 15px
    }
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
