<div class="home-container" fxFlexFill fxLayout="column" fxLayoutGap="5px" gdAlignColumns="start stretch">
    <div class="invite-text">
        <h1>Technologies and Tools that I'm mostly work with</h1>
    </div>

    <div class="contact-container" fxFlexFill fxLayout="column">
        <div class="title-container">
            <mark class="contact-title">Web Development</mark>
        </div>
        <div class="skill-group" >
            <div class="skill-row" fxLayout="row">
                    <a href="https://angular.io/" target="_blank">
                        <div class="skill-item">
                            <img src="../../../assets/svg/angular.svg" alt="Angular" class="icn">
                            <span>Angular</span>
                        </div>
                       
                    </a>
                    <a href="https://www.w3schools.com/html/" target="_blank">
                        <div class="skill-item">
                            <img src="../../../assets/svg/html5.png" alt="HTML" class="icn">
                            <span>HTML</span>
                        </div>
                       
                    </a>
                    <a href="https://www.w3schools.com/css/default.asp" target="_blank">
                        <div class="skill-item">
                            <img src="../../../assets/svg/css.png" alt="CSS" class="icn">
                            <span>CSS</span>
                        </div>
                       
                    </a>
                    <a href="https://www.w3schools.com/js/default.asp" target="_blank">
                        <div class="skill-item">
                            <img src="../../../assets/svg/js.png" alt="Javascript" class="icn">
                            <span>Javascript</span>
                        </div>
                       
                    </a>
                    <a href="https://spring.io/projects/spring-boot" target="_blank">
                        <div class="skill-item">
                            <img src="../../../assets/svg/spring.svg" alt="Spring Boot" class="icn">
                            <span>Spring Boot</span>
                        </div>
                       
                    </a>
                    <a href="https://www.postman.com/" target="_blank">
                        <div class="skill-item">
                            <img src="../../../assets/svg/postman.png" alt="Postman" class="icn">
                            <span>Postman</span>
                        </div>
                       
                    </a>
                    <a href="https://git-scm.com/docs" target="_blank">
                        <div class="skill-item">
                            <img src="../../../assets/svg/git.png" alt="Git" class="icn">
                            <span>Git</span>
                        </div>
                       
                    </a>
                    <a href="https://www.npmjs.com/" target="_blank">
                        <div class="skill-item">
                            <img src="../../../assets/svg/npm.png" alt="NPM" class="icn-npm">
                            <span>NPM</span>
                        </div>
                       
                    </a>
                    <a href="https://www.digitalocean.com/" target="_blank">
                        <div class="skill-item">
                            <img src="../../../assets/svg/DO.png" alt="Digital Ocean" class="icn">
                            <span>Digital Ocean</span>
                        </div>
                       
                    </a>
                    
                <!-- </div> -->

            </div>
        </div>
        <div class="title-container" style="margin-top: 25px;">
            <mark class="contact-title">Creative & Design</mark>
        </div>
        <div class="skill-group" >
            <div class="skill-row" fxLayout="row">
                    <a href="https://www.adobe.com/sea/products/xd.html?promoid=PYPVQ3HN&mv=other" target="_blank">
                        <div class="skill-item">
                            <img src="../../../assets/svg/xd.png" alt="XD" class="icn">
                            <span>XD</span>
                        </div>
                       
                    </a>
                    <a href="https://www.sketch.com/" target="_blank">
                        <div class="skill-item">
                            <img src="../../../assets/svg/sketch.png" alt="Sketch App" class="icn">
                            <span>Sketch App</span>
                        </div>
                       
                    </a>
                    <a href="https://www.figma.com/" target="_blank">
                        <div class="skill-item">
                            <img src="../../../assets/svg/figma.png" alt="Figma" class="icn">
                            <span>Figma</span>
                        </div>
                       
                    </a>
                    <a href="https://www.adobe.com/sea/products/photoshop.html?promoid=PC1PQQ5T&mv=other" target="_blank">
                        <div class="skill-item">
                            <img src="../../../assets/svg/ps.png" alt="Photoshop" class="icn">
                            <span>Photoshop</span>
                        </div>
                       
                    </a>
                    <a href="https://www.adobe.com/sea/products/premiere.html?promoid=PQ7SQBYQ&mv=other" target="_blank">
                        <div class="skill-item">
                            <img src="../../../assets/svg/pr.png" alt="Premiere Pro" class="icn">
                            <span>Premiere Pro</span>
                        </div>
                       
                    </a>
                    <a href="https://www.apple.com/my/final-cut-pro/" target="_blank">
                        <div class="skill-item">
                            <img src="../../../assets/svg/fcp.png" alt="Final Cut Pro X" class="icn">
                            <span>Final Cut Pro X</span>
                        </div>
                       
                    </a>
            </div>
        </div>
    </div>
    
</div>
