<div class="home-container" fxFlexFill fxLayout="column" fxLayoutGap="5px" gdAlignColumns="start stretch">
    <div class="invite-text">
        <h1>Technologies and Tools that I'm mostly work with</h1>
    </div>

    <div class="contact-container" fxFlexFill fxLayout="column">
        <div class="title-container">
            <mark class="contact-title">Web Development</mark>
        </div>
        <div class="skill-group" >
            <div class="skill-row" fxLayout="row">
                    <a href="https://angular.io/" target="_blank">
                        <div class="skill-item">
                            <img src="../../../assets/svg/angular.svg" alt="Angular" class="icn">
                            <span>Angular</span>
                        </div>
                       
                    </a>
                    <a href="https://angular.io/" target="_blank">
                        <div class="skill-item">
                            <img src="../../../assets/svg/angular.svg" alt="Angular" class="icn">
                            <span>Angular</span>
                        </div>
                       
                    </a>
                    <a href="https://angular.io/" target="_blank">
                        <div class="skill-item">
                            <img src="../../../assets/svg/angular.svg" alt="Angular" class="icn">
                            <span>Angular</span>
                        </div>
                       
                    </a>
                    <a href="https://angular.io/" target="_blank">
                        <div class="skill-item">
                            <img src="../../../assets/svg/angular.svg" alt="Angular" class="icn">
                            <span>Angular</span>
                        </div>
                       
                    </a>
                    <a href="https://angular.io/" target="_blank">
                        <div class="skill-item">
                            <img src="../../../assets/svg/angular.svg" alt="Angular" class="icn">
                            <span>Angular</span>
                        </div>
                       
                    </a>
                    <a href="https://angular.io/" target="_blank">
                        <div class="skill-item">
                            <img src="../../../assets/svg/angular.svg" alt="Angular" class="icn">
                            <span>Angular</span>
                        </div>
                       
                    </a>
                    <a href="https://angular.io/" target="_blank">
                        <div class="skill-item">
                            <img src="../../../assets/svg/angular.svg" alt="Angular" class="icn">
                            <span>Angular</span>
                        </div>
                       
                    </a>
                    <a href="https://angular.io/" target="_blank">
                        <div class="skill-item">
                            <img src="../../../assets/svg/angular.svg" alt="Angular" class="icn">
                            <span>Angular</span>
                        </div>
                       
                    </a>
                    
                <!-- </div> -->

            </div>
        </div>
        <div class="title-container" style="margin-top: 25px;">
            <mark class="contact-title">Design</mark>
        </div>
        <div class="contact-group">
            <!-- <div class="contact-row" fxLayout="row" fxLayout.xs="column">
                <div fxFlex fxLayout="column" fxLayout.xs="column" gdAlignColumns="start center">
                        <li fxLayout="row">
                            <a class="contact-item" href="https://wa.me/60174825310?text=Hey Rezza, I found you via your website" fxLayout="row">
                                <img src="../../../assets/svg/whatsapp.svg" width="25px" height="25px" class="icn">
                                <h3> +6017 482 5310 </h3>
                            </a>
                        </li>
                </div>
                <div fxFlex fxLayout="column" fxLayout.xs="column">
                        <li style="display: inline-block;" fxLayout="row">
                            <a class="contact-item" class="contact-item" href="mailto:rezzadanialcs@gmail.com?subject=Hey Rezza, I found you via your website" fxLayout="row">
                                <img src="../../../assets/svg/gmail.svg" width="23px" height="23px" class="icn">
                                <h3> rezzadanialcs@gmail.com</h3>
                            </a>
                        </li>
                </div>
            </div> -->
        </div>
    </div>
    
</div>
