<mat-accordion [multi]=true>
<mat-expansion-panel>
    <mat-expansion-panel-header [collapsedHeight]="'150px'" [expandedHeight]="'150px'">
      <mat-panel-title>
          <div fxFlexFill fxLayout="row" fxLayoutAlign="space-around center">
              <div fxFlex=30% fxFlex.xs="40%" fxFlex.xl="20%" fxLayout="column">
                <img src="../../../assets/img/accenture-logo.png" height="115px" >
              </div>
              <div fxFlex=70% fxFlex.xs="60%" fxFlex.xl="80%" fxLayout="column">
                <h3 class="position-title">Business Integration Arch Analyst</h3>
                <h3 class="period"> October 2018 - Present </h3>
              </div>
            
          </div>
        
      </mat-panel-title>
    </mat-expansion-panel-header>
  
    <div fxFlexFill fxLayout="column" fxLayoutAlign="start start" class="job-desc">
        <div fxLayout="row" gdAlignRows="start center">
            <li class="desc-list"> Develop User Interface based on Funtional Design Specification given</li>
            <li class="desc-list"> Develop User Interface based on Funtional Design Specification given</li>
            <li class="desc-list"> Develop User Interface based on Funtional Design Specification given</li>
            <li class="desc-list"> Develop User Interface based on Funtional Design Specification given</li>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-between stretch">
            <div fxLayout="row">
                <h3 class="tech-text">Techology Stack and Tools:</h3>
            </div>
            <div class="tech-logo" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                <div><img src="../../../assets/svg/cake.svg"></div>
                <div><img src="../../../assets/svg/cake.svg"></div>
                <div><img src="../../../assets/svg/cake.svg"></div>
                <div><img src="../../../assets/svg/cake.svg"></div>
            </div>
        </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header [collapsedHeight]="'150px'" [expandedHeight]="'150px'">
      <mat-panel-title>
          <div fxFlexFill fxLayout="row" fxLayoutAlign="space-around center">
              <div fxFlex=30% fxFlex.xs="40%" fxFlex.xl="20%" fxLayout="column">
                <img src="../../../assets/img/LinearDMS_LogoPNG.png" height="115px" >
              </div>
              <div fxFlex=70% fxFlex.xs="60%" fxFlex.xl="80%" fxLayout="column">
                <h3 class="position-title">Web Developer and UI/UX Designer</h3>
                <h3 class="period"> June 2018 - October 2018 </h3>
              </div>
            
          </div>
        
      </mat-panel-title>
    </mat-expansion-panel-header>
  
    <div fxFlexFill fxLayout="column" fxLayoutAlign="start start" class="job-desc">
        <div fxLayout="row" gdAlignRows="start center">
            <li class="desc-list"> Develop User Interface based on Funtional Design Specification given</li>
            <li class="desc-list"> Develop User Interface based on Funtional Design Specification given</li>
            <li class="desc-list"> Develop User Interface based on Funtional Design Specification given</li>
            <li class="desc-list"> Develop User Interface based on Funtional Design Specification given</li>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-between stretch">
            <div fxLayout="row">
                <h3 class="tech-text">Techology Stack and Tools:</h3>
            </div>
            <div class="tech-logo" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                <div><img src="../../../assets/svg/cake.svg"></div>
                <div><img src="../../../assets/svg/cake.svg"></div>
                <div><img src="../../../assets/svg/cake.svg"></div>
                <div><img src="../../../assets/svg/cake.svg"></div>
            </div>
        </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header [collapsedHeight]="'150px'" [expandedHeight]="'150px'">
      <mat-panel-title>
          <div fxFlexFill fxLayout="row" fxLayoutAlign="space-around center">
              <div fxFlex=30% fxFlex.xs="40%" fxFlex.xl="20%" fxLayout="column">
                <img src="../../../assets/img/novatis_logo.jpg" height="115px" >
              </div>
              <div fxFlex=70% fxFlex.xs="60%" fxFlex.xl="80%" fxLayout="column">
                <h3 class="position-title">Intern</h3>
                <h3 class="period"> Febuary 2018 - June 2018 </h3>
              </div>
            
          </div>
        
      </mat-panel-title>
    </mat-expansion-panel-header>
  
    <div fxFlexFill fxLayout="column" fxLayoutAlign="start start" class="job-desc">
        <div fxLayout="row" gdAlignRows="start center">
            <li class="desc-list"> Develop User Interface based on Funtional Design Specification given</li>
            <li class="desc-list"> Develop User Interface based on Funtional Design Specification given</li>
            <li class="desc-list"> Develop User Interface based on Funtional Design Specification given</li>
            <li class="desc-list"> Develop User Interface based on Funtional Design Specification given</li>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-between stretch">
            <div fxLayout="row">
                <h3 class="tech-text">Techology Stack and Tools:</h3>
            </div>
            <div class="tech-logo" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                <div><img src="../../../assets/svg/cake.svg"></div>
                <div><img src="../../../assets/svg/cake.svg"></div>
                <div><img src="../../../assets/svg/cake.svg"></div>
                <div><img src="../../../assets/svg/cake.svg"></div>
            </div>
        </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header [collapsedHeight]="'150px'" [expandedHeight]="'150px'">
      <mat-panel-title>
          <div fxFlexFill fxLayout="row" fxLayoutAlign="space-around center">
              <div fxFlex=30% fxFlex.xs="40%" fxFlex.xl="20%" fxLayout="column">
                <img src="../../../assets/img/mdec_logo.jpg" height="115px" >
              </div>
              <div fxFlex=70% fxFlex.xs="60%" fxFlex.xl="80%" fxLayout="column">
                <h3 class="position-title">Trainer</h3>
                <h3 class="period"> May 2016 - June 2018 </h3>
              </div>
            
          </div>
        
      </mat-panel-title>
    </mat-expansion-panel-header>
  
    <div fxFlexFill fxLayout="column" fxLayoutAlign="start start" class="job-desc">
        <div fxLayout="row" gdAlignRows="start center">
            <li class="desc-list"> Develop User Interface based on Funtional Design Specification given</li>
            <li class="desc-list"> Develop User Interface based on Funtional Design Specification given</li>
            <li class="desc-list"> Develop User Interface based on Funtional Design Specification given</li>
            <li class="desc-list"> Develop User Interface based on Funtional Design Specification given</li>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-between stretch">
            <div fxLayout="row">
                <h3 class="tech-text">Techology Stack and Tools:</h3>
            </div>
            <div class="tech-logo" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                <div><img src="../../../assets/svg/cake.svg"></div>
                <div><img src="../../../assets/svg/cake.svg"></div>
                <div><img src="../../../assets/svg/cake.svg"></div>
                <div><img src="../../../assets/svg/cake.svg"></div>
            </div>
        </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

