<div class="home-container" fxFlexFill fxLayout="column" fxLayoutGap="5px" gdAlignColumns="start stretch">
    <div class="invite-text">
        <h1>Lets connect and make great things together</h1>
    </div>

    <div class="contact-container" fxFlexFill fxLayout="column">
        <div class="title-container">
            <mark class="contact-title">Contact</mark>
        </div>
        <div class="contact-group">
            <div class="contact-row" fxLayout="row" fxLayout.xs="column">
                <div fxFlex fxLayout="column" fxLayout.xs="column" gdAlignColumns="start center">
                        <li fxLayout="row">
                            <a class="contact-item" href="https://wa.me/60174825310?text=Hey Rezza, I found you via your website" fxLayout="row">
                                <img src="../../../assets/svg/whatsapp.svg" width="25px" height="25px" class="icn">
                                <h3> +6017 482 5310 </h3>
                            </a>
                        </li>
                </div>
                <div fxFlex fxLayout="column" fxLayout.xs="column">
                        <li style="display: inline-block;" fxLayout="row">
                            <a class="contact-item" class="contact-item" href="mailto:rezzadanialcs@gmail.com?subject=Hey Rezza, I found you via your website" fxLayout="row">
                                <img src="../../../assets/svg/gmail.svg" width="23px" height="23px" class="icn">
                                <h3> rezzadanialcs@gmail.com</h3>
                            </a>
                        </li>
                </div>
            </div>
        </div>
    </div>

    <div class="socmed-container" fxFlexFill fxLayout="column">
        <div class="title-container">
            <mark class="contact-title">On the Net</mark>
        </div>
        <div class="contact-group">
            <div class="contact-row" fxLayout="row" fxLayout.xs="row">
                <div fxFlex fxLayout="row" fxLayout.xs="row" fxLayoutAlign="start center" fxLayoutAlign.xs="space-between center">
                        <li fxLayout="column" class="socmed-item">
                            <a href="https://www.linkedin.com/in/rezza-danial-568113139/">
                                <img src="../../../assets/svg/linkedin.svg" class="socmed-icon">
                            </a>
                        </li>
                        <li fxLayout="column" class="socmed-item">
                            <a href="https://www.instagram.com/rezza.danial">
                                <img src="../../../assets/svg/instagram-sketched.svg" class="socmed-icon">
                            </a>
                        </li>
                        <li fxLayout="column" class="socmed-item">
                            <a href="https://www.youtube.com/user/SuperRezza/videos">
                                <img src="../../../assets/svg/youtube.svg" class="socmed-icon">
                            </a>
                        </li>
                        <li fxLayout="column" class="socmed-item">
                            <a href="https://www.facebook.com/rezza.danial">
                                <img src="../../../assets/svg/facebook.svg" class="socmed-icon">
                            </a>
                        </li>
                        <li fxLayout="column" class="socmed-item">
                            <a href="https://github.com/RezzaDanialitt440">
                                <img src="../../../assets/svg/github.svg" class="socmed-icon">
                            </a>
                        </li>
                        <li fxLayout="column" class="socmed-item">
                            <a href="https://dribbble.com/rezzadanial">
                                <img src="../../../assets/svg/dribbble.svg" class="socmed-icon">
                            </a>
                        </li>
                </div>
            </div>
        </div>
    </div>
    
</div>
